.MasonryLayout {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  max-height: 100vh;
}

.MasonryLayout__wrapper {
  display: flex;
  margin: auto;
}

.MasonryLayout__column {
  flex: 0 0 auto;
  width: 252px;
}

.MasonryLayout__column--item {
  flex: 0 0 auto;
}
